body {
    width: 100%;
    height: auto;
    font-family:serif;
    font-size: 20px;
    line-height: 35px;
    margin: auto;
    background-color: #F4EAD5;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20%;
    background: url(images/IMG_1148.jpg);
    background-position: center 24%;
    background-color: rgba(254, 251, 239, 0.3);
    background-blend-mode: overlay;
}

.logo img {
    width: 208px;
    height: auto;
    padding: 15px 1px;
}

.nav-links {
    display: flex;
    gap: 15px;
   
}
.nav-links a {
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    text-decoration: none;
    color: black;
    width: 70px;
    height: 35px;
    font-size: 20px;
    margin-right: 65px;
}






