body {
    width: 1289px;
    height: auto;
    font-family:serif;
    font-size: 20px;
    line-height: 35px;
}

.container {
    max-width: 1239px;
    max-height: auto;
}

header {
    background-image: url(images/IMG_1148.jpg);
    background-size: cover;
    position: relative;
    width: 1280px;
    height: 1028px;
    background-repeat: no-repeat; /* kuva ei toistu, pysyy yhtenä*/
}


.container {
    display: flex;
    width: 1239px;
    height: auto;
}

.header-right img {
    height: 36px;
    width: auto;
}

.navbar-brand img {
    width: 208px;
    height: auto;
}

.collapse {
    font-family: Inria Serif;
    font-size: 21px;
    display: flex;
    justify-content: center;
}

.otsikot {
    font-family: Inria Serif;
    font-size: 21px;
    display: flex;
    justify-content: center;
    padding: 10px 15%; 
    /* tällä paddingilla sain siirrettyä enemmän keskelle */
}

h1 {
    font-family: 'Tangerine', cursive;
    font-size: 48px; 
    justify-content: center;
}

.otsikko {
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    line-height: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 50px;
    position: relative;
    top: 130px; /*siirtää otsikkoa alemmas/ylemmäs*/
}

/* Menu alkaa tästä*/

.juomat {
    background-color: #f4ead5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:20px;
    font-size: 18px;
}

.juomat button {
    margin-top: 20px;
    background-color: #E1CDA8;
    border: none;
    padding:10px 20px;
    border-radius: 5px;
}

.image {
    flex: 1;
    max-width: 45%;
}

.text {
    flex: 1;
    max-width: 45%;
}





footer {
    background-color: #EAF0D7;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 10 auto;
}


.yhteystiedot .aukioloajat {
    font-size: 26px;
    color: #000000;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo img {
    max-width: 200px;
    font-weight: bold;
}

.some {
    

}
