body {
    width: 1289px;
    height: auto;
    font-family:serif;
    font-size: 20px;
    line-height: 35px;
}

.container {
    max-width: 1239px;
    max-height: auto;
}

.header {
    background-image: url(images/IMG_1148.jpg);
    background-size: cover;
    position: relative;
    width: 1280px;
    height: 1028px;
    background-repeat: no-repeat; /* kuva ei toistu, pysyy yhtenä*/
}


.container {
    display: flex;
    width: 1239px;
    height: auto;
}

.header-right img {
    height: 36px;
    width: auto;
}

.navbar-brand img {
    width: 208px;
    height: auto;
}

.collapse {
    font-family: Inria Serif;
    font-size: 21px;
    display: flex;
    justify-content: center;
}

.otsikot {
    font-family: Inria Serif;
    font-size: 21px;
    display: flex;
    justify-content: center;
    padding: 10px 15%; 
    /* tällä paddingilla sain siirrettyä enemmän keskelle */
}

h1 {
    font-family: 'Tangerine', cursive;
    font-size: 48px; 
    justify-content: center;
}

.otsikko {
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    line-height: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 50px;
    position: relative;
    top: 130px; /*siirtää otsikkoa alemmas/ylemmäs*/
}


/* Menu alkaa tästä*/

.menu {
    max-width: 1280px;
    margin: 0 auto;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    mmargin-bottom: 20px;
    wwidth: 100%;
    flex-wrap: wrap;
    margin: 0;
    gap: 0;
    font-size: 18px;
}

.menu-item:nth-child(even) {
    flex-direction: row-reverse;
}

.menu-item .image {
    flex: 1;
    max-width: 50%;
    width: 100%;
    height: auto;
    width: 640px;
    height: 360px;
    fflex-shrink: 0;
}


.menu-item .text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 50%;
    font-size: 16px;
   
}

.menu-item .tutustu button {
    margin-top: 15px;
    background-color: #E1CDA8;
    border: none;
    padding:10px 20px;
    border-radius: 5px;
}

.juomat {
    background-color: #F4EAD5;
}

.makeiset {
    background-color: #e9edc9;
}

.suolaiset  {
    background-color: #E2CCB6;
}

.kakut {
    background-color: #FCF4E2 ;
}

.brunssi {
    background-color: #E9EDC9;
}
.footer {
    background-color: #EAF0D7;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 10 auto;
}


.yhteystiedot .aukioloajat {
    font-size: 26px;
    color: #000000;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo img {
    max-width: 20px;
}

.some {
    display: flex;
    gap: 35px; 
    width: 200px;  
    height: 55px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    
    
    }


