body {
    width: 1289px;
    height: auto;
    font-family:serif;
    font-size: 20px;
    line-height: 35px;
}

.container {
    max-width: 1239px;
    max-height: auto;
}

header {
    background-image: url(images/IMG_1148.jpg);
    position: relative;
    width: 1200px;
    height: 1028px;
    background-repeat: no-repeat; /* kuva ei toistu, pysyy yhtenä*/
}

h1 {
    font-family: 'Tangerine', cursive;
    font-size: 48px; 
    justify-content: center;
}

.navbar-brand {
    width: 222px;
    height: 172px;
}

.otsikot {
    font-family: Inria Serif;
    font-size: 21px;
    display: flex;
    justify-content: center;
    padding: 10px 15%; 
    /* tällä paddingilla sain siirrettyä enemmän keskelle */
}

.otsikko {
    position: absolute;
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Menu alkaa tästä */

.menu {
    width: 100%;
    margin: 0 auto;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    mmargin-bottom: 20px;
    wwidth: 100%;
    flex-wrap: wrap;
    margin: 0;
    gap: 0;
    font-size: 18px;
} 

.menu-item:nth-child(even) {
    flex-direction: row-reverse;
}

.menu-item .image {
    flex: 1;
    max-width: 50%;
    width: 100%;
    height: auto;
    width: 640px;
    height: 360px;
    fflex-shrink: 0;
}

.menu-item .text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 50%;
    font-size: 16px;
    
}

.menu-item .tutustu button {
    margin-top: 15px;
    background-color: #E1CDA8;
    border: none;
    padding:10px 20px;
    border-radius: 5px;
}

.juomat {
    background-color: #F4EAD5;
}

.makeiset {
    background-color: #e9edc9;
}

.suolaiset  {
    background-color: #E2CCB6;
}

.kakut {
    background-color: #FCF4E2 ;
}

.brunssi {
    background-color: #E9EDC9;
}



