body {
    width: 100%;
    height: auto;
    font-family:'InriaSerif';
    font-size: 20px;
    line-height: 35px;
    margin: auto;
    background-color: #f4ead5;
    
}

.container {
    max-width: 1239px;
    max-height: auto;
    margin: auto;
    width: 100%;
}

header {
    background-image: url(images/IMG_1148.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 1028px;
    background-repeat: no-repeat; /* kuva ei toistu, pysyy yhtenä*/
    background-position: center 30%;
    background-color: rgba(254, 251, 239, 0.5);
    background-blend-mode: overlay;
    height: 250px;
}


.container-fluid {
    padding-left: 30px;
}

.navbar-brand img {
    width: 200px;
    height: auto;
    margin-left: 5px;
    padding-left: 5px;
}

a .navbar-nav, a:active .navbar-nav, a:visited {
    width: 864px;
    height: 41px;
    font-family: 'InriaSerif';
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-right: 50px;

}

a:hover {
    text-decoration: underline;
}

.collapse {
    font-family: 'InriaSerif';
    font-size: 24px;
    justify-content: space-around;
    margin: 0px; 
}  

.navbar-nav li {
    margin: 0 15px;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}


.otsikko {
    display: none;
}


/* SISÄLTÖ ALKAA TÄSTÄ*/

main {
    hheight: 650px; 
    background-color: #f9f4e9;
}

.tilausohjeet {
    font-family: 'InriaSerif';
    font-size: 21px;
    width: 100%;
    padding: 90px;
    padding-bottom: 30px;
    padding-left: 250px auto;
    padding-right: 250px auto;
    text-align: center;
    
} 

.teksti {
    text-align: left;
    font-size: 18px;
}

.tilausohjeet h1 {
    margin-bottom: 25px;
    font-size: 40px;
}

.tilausohjeet p {
    max-width: 800px;
    margin-left: 20%;
}

/*TILAUSKAAVAKE*/

form {
    padding: 50px;
    padding-top: 30px;
    margin: 0px;
}
form.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    height: auto;
    
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin: auto;
    width: 50%;
    text-align: left;
}

input[type=text], textarea {
    width: 50%;
    height: 30px;
    padding: 5px;
}

textarea {
    height: 150px;
    resize: none;
}

input[type=submit] {
    display: flex;
    align-items: center;
    background-color: #E1CDA8;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 8px;
}

input[type=submit]:hover {
    background-color: #E1CDA8;
    color: white;
}
    

/* FOOTER alkaa tästä*/
footer {
    background-color: #e4eec9; 
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center; 
    align-items: center; 
}



.Yhteystiedot, .aukioloajat {
    font-size: 17px;
    color: #000000;
    text-align: center;
    font-family: 'InriaSerif';
    margin-right: 60px;
    }


.logo img {
    width: 270px;
    padding: 5px  50px;
    margin-right: 110px;
    
}

.some img {
    width: 55px;
    margin: 0 10px; 
}

.some {
    display: flex;
    gap: 35px; 
    width: 200px;  
    height: 50px; 
    display: flex;
    margin-right: 50px;
    justify-content: center; 
    align-items: center;  
}


/* Responsive Design */
@media (max-width: 700px) {

    body {
        font-size: 18px;
        line-height: 30px;
    }

    .footer, .tilausohjeet, form {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-height: auto;
        width: 100%;
    }

    .otsikko {
        display: none;
    }

    header {
        height: auto;
        background-position: center;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .navbar-nav li {
        margin: 10px 0;
    }

    a.nav-link:hover {
        color: white;
        text-decoration: none;
    }

    .main-content {
        position: relative;
        z-index: 0;
    }

    .tilausohjeet {
        padding: 30px;
        font-size: 16px;
    }

    .tilausohjeet p {
        width: 96%;
        padding: 0px;
        margin: 0px;
        font-size: 16px;
    }

    .teksti {
        margin-left: 0px;
        margin: 0;
        width: 96%;
        font-size: 16px;
    }

    p {
        margin: 0;
        font-size: 16px;
    }

    form {
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .form-container {
        width: 100%;

    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .some img {
        width: 30px;
    }

    .footer-container {
        flex-direction: column;
        margin: 20px;
    }


    .logo img, .Yhteystiedot, .aukioloajat, .some {
        margin: 0px;
    }
}




















