.body {
    width: 100%;
    height: auto;
    font-family:serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 10px auto;
    background-color: #F4EAD5;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 0;
    background-image: url(images/IMG_1148.jpg);
    background-size: cover;
    background-position: center 25%;
    background-color: rgba(254, 251, 239, 0.3);
    background-blend-mode: overlay;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 110px;
    padding: 0 20px;
}

.otsikko {
    display: none;
}

.logo img {
    width: 250px;
    height: auto;
    padding: 15px 10px;
}

.menu-icon {
    cursor: pointer;
    display: none;
}

.container-fluid {
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    color: black;
    width: 70px;
    height: 35px;
    font-size: 20px;
    margin: 20px;
    font-weight: 500;
    font-family: serif;
}



main {
    hheight: 650px; 
    background-color: #f9f4e9;
}

.tilausohjeet {
    font-family: 'InriaSerif';
    font-size: 21px;
    width: 100%;
    padding: 90px;
    padding-bottom: 30px;
    padding-left: 250px auto;
    padding-right: 250px auto;
    text-align: center;
    
} 

.teksti {
    text-align: left;
}

.tilausohjeet h1 {
    margin-bottom: 25px;
    font-size: 40px;
}

.tilausohjeet p {
    max-width: 800px;
    margin-left: 20%;
}

/*TILAUSKAAVAKE*/

form {
    padding: 50px;
    padding-top: 30px;
    margin: 0px;
}
form.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    height: auto;
    
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin: auto;
    width: 50%;
    text-align: left;
}

input[type=text], textarea {
    width: 50%;
    height: 30px;
    padding: 5px;
}

textarea {
    height: 150px;
    resize: none;
}

input[type=submit] {
    display: flex;
    align-items: center;
    background-color: #E1CDA8;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 8px;
}

input[type=submit]:hover {
    background-color: #E1CDA8;
    color: white;
}
    

/* FOOTER alkaa tästä*/
footer {
    background-color: #e4eec9; 
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center; 
    align-items: center; 
}



.Yhteystiedot, .aukioloajat {
    font-size: 17px;
    color: #000000;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 60px;
    }


.logo img {
    width: 270px;
    padding: 5px  50px;
    margin-right: 110px;
    
}

.some img {
    width: 55px;
    margin: 0 10px; 
}

.some {
    display: flex;
    gap: 35px; 
    width: 200px;  
    height: 50px; 
    display: flex;
    margin-right: 50px;
    justify-content: center; 
    align-items: center;  
}


/* Responsive Design */
@media (max-width: 700px) {
    .header-container, header .footer, .tilausohjeet, form {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-height: auto;
        width: 100%;
    }

    .otsikko {
        display: none;
    }

    header {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .container-fluid {
        width: 100%;
        height: 100%;
        flex-direction: row;
        padding: 30px;
    }

    .logoimg {
        padding-bottom: 30px;
        width: 200px;
        height: auto;
    }

    a.nav-link:hover {
        ttext-decoration: underline;
        color: white;
    }

    /*valikon linkit*/
    .navbar-collapse {
        text-align: center;
    }

    .tilausohjeet {
        padding: 30px;
    }

    .tilausohjeet .teksti {
        width: 96%;
        padding: 0px;
        margin: 0px;
    }

    .teksti {
        margin-left: 0px;
        margin: 0;
        width: 96%;
    }

    p {
        margin: 0;
    }

    form {
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .form-container {
        width: 100%;

    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .some img {
        width: 30px;
    }

    .footer-container {
        flex-direction: column;
        margin: 20px;
    }


    .logo img, .Yhteystiedot, .aukioloajat, .some {
        margin: 0px;
    }
}




















