.body {
    width: 100%;
    height: auto;
    font-family:serif;
    font-size: 20px;
    line-height: 35px;
    margin: auto;
    background-color: #F4EAD5;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 0;
    background: url(images/IMG_1148.jpg);
    background-position: center 25%;
    background-color: rgba(254, 251, 239, 0.3);
    background-blend-mode: overlay;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 110px;
    padding: 0 20px;
}

.logo img {
    width: 250px;
    height: auto;
    padding: 15px 10px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    color: black;
    width: 70px;
    height: 35px;
    font-size: 20px;
    margin: 20px;
    font-weight: 500;
    font-family: serif;
}



main {
    height: 650px; 
    background-color: #f9f4e9;
}

/* FOOTER alkaa tästä*/
footer {
    background-color: #e4eec9; 
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center; 
    align-items: center; 
}



.Yhteystiedot, .aukioloajat {
    font-size: 17px;
    color: #000000;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 60px;
    }


.logo img {
    width: 270px;
    padding: 5px  50px;
    margin-right: 110px;
    
}

.some img {
    width: 55px;
    margin: 0 10px; 
}

.some {
    display: flex;
    gap: 35px; 
    width: 200px;  
    height: 50px; 
    display: flex;
    margin-right: 50px;
    justify-content: center; 
    align-items: center;  
}


/* Responsive Design */
@media (max-width: 700px) {
    .header-container, .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .some img {
        width: 30px;
    }
}




















